# Copyrighted source PDF — local catalog only, do not publish
swedish-frequency-dictionary-for-learners-practical-vocabulary-top-10000-swedish-words.pdf
scripts/.cache/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.venv
__pycache__/
*.pyc

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
